{% extends "base.html" %} {% block title %}Informações Cursos{% endblock title %}
{% load permission_tags %} {% block content %}
<div
  class="container text-light mt-5 p-4"
  style="background-color: #0b5394; border-radius: 15px; min-height: 40px;"
>
  <h2 class="p-2">Informações Curso</h2>
  {% for turma in turmas %}
  {% for curso in cursos  %}
  <div class="row mt-3 p-2">
    <div class="col">
      <h4>Nome Graduação</h4>
      <p class="fs-4"> {{ turma.graduacao_turma }} </p>
    </div>
    <div class="col">
      <h4>Categoria</h4>
      <p class="fs-4"> {{ curso.get_categoria_curso_display }} </p>
    </div>
  </div>

  <div class="row p-4">
    <div class="col">
      <h4>Área do Conhecimento</h3>
      <p class="fs-4"> {{ curso.get_area_curso_display }} </p>
    </div>
    <div class="col">
      <h4>Área do Conhecimento</h3>
      <p class="fs-4"> {{ curso.duracao_curso }} </p>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>

{% endblock content %}
